streamlit==1.55.0
plotly==6.6.0
pandas==2.3.3
psycopg2-binary==2.9.11
SQLAlchemy==2.0.48
google-cloud-bigquery==3.40.1
google-cloud-bigquery-storage==2.36.2
google-auth==2.49.1
pyarrow==23.0.1
db-dtypes==1.5.0
